<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new book</title>
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body align="center">
    <div>        
        <h2>Edit Summary</h2>
        <form action="/edit-summary/<%= book.id %>" method="post">
            <!-- <h2>Edit Summary</h2> -->
            <div class="form-row">
                <label for="summary">Summary:</label>
                <textarea id="summary" name="summary"><%= book.summary %></textarea>                
            </div>
            <button type="submit">Save</button>
            <button type="button" onclick="window.location.href='/book/<%= book.id %>'" style="margin-left: 10px;">Cancel</button>
        </form>
    </div>
</body>
</html>